# important ###############################################################################################################################################################################
keys.py



# random ###############################################################################################################################################################################
server_git_pull.py
API_waitlist.txt
website_requests.txt
__pycache__/keys.cpython-310.pyc
__pycache__/server_git_pull.cpython-310.pyc
technical.py
.env.local
__pycache__/kusama.cpython-310.pyc
__pycache__/polkadot.cpython-310.pyc
temp_testing.py
Ignore_testing/server_testing.py
server_testing.py
away_server_testing.py
local_server_testing.py
testing.py
user_key_check.py
key_check.py
user_API_keys.json
__pycache__/key_check.cpython-310.pyc
api_example.py
user_api_key_gen.py
